@CHARSET "ISO-8859-1";

/*Site-wide styles */

html, body {
	font-family: "Lato";
	font-size: 100%;
	padding-top: 35px;
	height: 100%;
	margin: 0;
}

body a:link, body a:visited {
	text-decoration: none;
	color: black;
}

#wrapper {
	min-height: 100%;
	padding-bottom: 80px;
	position: relative;
}

.center {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-align: center;
}

label {
	text-align: right;
}

input[type='text'], input[type='password'] {
	margin-left: 10px;
}

input[type='submit'] {
	margin-top: 10px;
}

.passInput {
	position: relative;
}

.warningLabel {
	color: red;
	font-size: 0.875em;
}

.btn-default {
	background-color: SteelBlue;
	color: white;
	width: 10%;
	height: 5%;

}

/*
header info
*/

#logo {
	position: absolute;
	top: 0;
	height: 55px;
	width: auto;
}

nav * {
	height: 60px;
	background: SteelBlue;
}

#homeSub {
	color: white;
}


#homeSub:visited {
	background: SteelBlue;
}

#homeSub:hover{
	background: #6B9BC3
}

/* 
footer info 
*/

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: auto;
	background: SteelBlue;
	text-align: center;
	color: white;
	height: 80px;
}

footer a:link, footer a:visited, #home {
	color: white;
}

.footerLinks {
	display: block;
	text-align: center;
}

.footerLinks li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#copyright {
	position: absolute;
	width: 100%;
	bottom: 5px;
	text-align:right;
	padding-right: 10px;
}